<!DOCTYPE html>
<html lang="zh">
<head>
<base href="/static/admin/"/>
<title>后台管理</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="css/fullcalendar.css" />
<link rel="stylesheet" href="css/matrix-style.css" />
<link rel="stylesheet" href="css/matrix-media.css" />
<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="css/jquery.gritter.css" />

</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html"></a></h1>
</div>
<!--close-Header-part--> 


<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">欢迎您：{$Think.session.A['username']}</span></a></li>
    <li class=""><a title="修改信息" href="{:url('Login/cinfo')}"><i class="icon icon-cog"></i> <span class="text">修改信息</span></a></li>
    <li class=""><a title="退出系统" href="{:url('Login/singOut')}"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a></li>
  </ul>
</div>
<!--close-top-Header-menu-->

<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i>菜单</a>
  <ul>
    <li class="submenu"> <a href="#"><i class="icon icon-leaf"></i> <span>产品管理</span></a>
      <ul>
        <li><a href="{:url('Pro/index')}">产品列表</a></li>
      </ul>
    </li>
	<li class="submenu"> <a href="#"><i class="icon icon-user"></i> <span>用户管理</span></a>
      <ul>
        <li><a href="{:url('User/index')}">用户列表</a></li>
      </ul>
    </li>
	<li class="submenu"> <a href="#"><i class="icon icon-arrow-down"></i> <span>代理管理</span></a>
      <ul>
        <li><a href="{:url('Agent/index')}">代理列表</a></li>
      </ul>
    </li>
  </ul>
</div>
<!--sidebar-menu-->