{include file="public/header"/}

<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a class="tip-bottom"><i class="icon-home"></i> </a></div>
  </div>
<!--End-breadcrumbs-->

<!--Action boxes-->
  
<!--End-Action boxes-->    

<!--Chart-box-->
	<div id="content">
	  <div class="container-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">产品</font></font></h5>
			<a href=""><span class="label label-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">添加</font></font></span></a>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">渲染引擎</font></font></th>
                  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">浏览器</font></font></th>
                  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">平台（S）</font></font></th>
                  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">引擎版本</font></font></th>
                  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CSS等级</font></font></th>
				  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">操作</font></font></th>

                </tr>
              </thead>
              <tbody>
                <tr class="odd gradeX">
                  <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">三叉戟</font></font></td>
                  <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Internet Explorer 4.0</font></font></td>
                  <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">赢得95+</font></font></td>
                  <td class="center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 4</font></font></td>
                  <td class="center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></td>
				  <td class="center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					<button class="btn btn-danger btn-mini"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">删除</font></font></button>&nbsp;&nbsp;
					<button class="btn btn-primary btn-mini"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">修改</font></font></button>
					</font></font>
				  </td>
                </tr>
              </tbody>
            </table>
          </div>
		  
        </div>
      </div>
	  </div>
	  </div>
  </div>
</div>
{include file="public/footer"/}
</body>
</html>
