{include file="public/header"/}

<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a class="tip-bottom"><i class="icon-home"></i> </a></div>
  </div>
<!--End-breadcrumbs-->

<!--Action boxes-->
  
<!--End-Action boxes-->    

<!--Chart-box-->
	<div id="content">
	  <div class="container-fluid">
	  <div class="row-fluid">
      <div class="span6">
        <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">个人信息</font></font></h5>
        </div>
        <div class="widget-content nopadding">
          <form action="" method="post" class="form-horizontal">
            <div class="control-group">
              <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">用户名：</font></font></label>
              <div class="controls">
                <input type="text" name="username" class="span11" placeholder="First name">
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">新密码：</font></font></label>
              <div class="controls">
                <input type="password" name="passwd" class="span11" placeholder="Enter Password">
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">保存</font></font></button>
            </div>
          </form>
        </div>
      </div>
      </div>
	  </div>
	  </div>
	  </div>
  </div>
</div>
{include file="public/footer"/}
</body>
</html>
